<!-- NOTE: These styles interact with JavsScript, so they MUST NOT be changed -->
<style id="_pageStyle">
{% capture page_style %}
  .content a {
    color: {{ color }};
    border-color: fade-out({{ color }}, 0.8);
  }

  .content a:hover {
    border-color: {{ color }};
  }

  .content a.btn {
    color: #fff;
    background-color: {{ color }};
    border-color: {{ color }};
  }

  .content a.btn:focus {
    box-shadow: 0 0 0 3px rgba({{color}}, .25);
  }

  :focus {
    outline-color: {{ color }};
  }

  ::selection {
    color: #fff;
    background: {{ color }};
  }

  ::-moz-selection {
    color: #fff;
    background: {{ color }};
  }
{% endcapture %}
{{ page_style | scssify }}
</style>
