@import "mixins";
@import "variables";

// Global

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.material-icons {
	font-size: inherit !important;
}

.a_no_icon:after {
	display: none;
}

// Sidebar

.sidebar-sticky {
	top: 1rem;
	bottom: auto;
}

#_title {
	border-bottom: 0;
}

a.sidebar-nav-item {
	font-weight: normal;
}

// Index

.home_title {
	text-align: right;
}

.home_title_img {
	display: inline-block;
	width: 60%;
	min-width: 200px;
	max-width: 400px;
	padding-bottom: 8%;
}

.team_imgs_wrap {
	width: 100%;
	margin: 0 -1.5rem -1.5rem;
	@include clearfix;
}

.team_img_wrap {
	width: 25%;
	padding: 1.5rem;
	display: block;
	float: left;
}

.team_img {
	width: 100%;
	background-size: cover;
	border-radius: 50%;
	@include aspect-ratio(1,1);
}

@media screen and (max-width: $break-point-1) {
	.team_imgs_wrap {
		margin: 0 -1rem -1rem;
	}
	.team_img_wrap {
		width: 33.3333333%;
		padding: 1rem;
	}
}

// Image

.profile_img {
	max-width: 100%;
	max-height: 240px;
}