@charset "UTF-8";
/* line 8, ../sass/site.sass */
body {
  font-family: "Hiragino Sans GB", "微软雅黑", "黑体", Helvetica, san-serif;
  color: #000e13;
}

/* line 12, ../sass/site.sass */
h4 {
  color: #990000;
}

/* line 15, ../sass/site.sass */
.btn-primary {
  background-color: #000e13;
  border-color: #000e13;
  color: #ecd7b8;
}
/* line 19, ../sass/site.sass */
.btn-primary:hover {
  background-color: #4d4740;
  border-color: #4d4740;
  color: #ecd7b8;
}

/* line 24, ../sass/site.sass */
a {
  color: #000e13;
}
/* line 26, ../sass/site.sass */
a:hover {
  color: #4d4740;
  text-decoration: none;
}

/* line 30, ../sass/site.sass */
.nav-pills > li > a {
  color: #ecd7b8;
  background: #000e13;
}

/* line 34, ../sass/site.sass */
.nav > li > a:hover,
.nav > li > a:focus {
  background: #4d4740;
}

/* line 38, ../sass/site.sass */
.time {
  white-space: nowrap;
}

/* line 41, ../sass/site.sass */
.img {
  width: 100%;
  margin: 15px 0;
}
