@charset "UTF-8";
/* line 8, ../sass/site.sass */
body {
  font-family: "Hiragino Sans GB", "微软雅黑", "黑体", Helvetica, san-serif;
  color: #000e13;
}

/* line 12, ../sass/site.sass */
h4 {
  color: #990000;
}

/* line 15, ../sass/site.sass */
.btn-primary {
  background-color: #000e13;
  border-color: #000e13;
  color: #ecd7b8;
}
/* line 19, ../sass/site.sass */
.btn-primary:hover {
  background-color: #4d4740;
  border-color: #4d4740;
  color: #ecd7b8;
}

/* line 24, ../sass/site.sass */
a {
  color: #000e13;
}
/* line 26, ../sass/site.sass */
a:hover {
  color: #4d4740;
  text-decoration: none;
}

/* line 30, ../sass/site.sass */
a.download {
  color: #ecd7b8;
  background: #000e13;
}
/* line 33, ../sass/site.sass */
a.download:hover, a.download:focus {
  color: #ecd7b8;
  background: #4d4740 !important;
}

/* line 38, ../sass/site.sass */
.time {
  white-space: nowrap;
}

/* line 41, ../sass/site.sass */
.img {
  width: 100%;
  margin: 15px 0;
}

/* line 45, ../sass/site.sass */
a.lnk {
  color: #990000;
}
/* line 47, ../sass/site.sass */
a.lnk:hover {
  color: #990000;
  opacity: 0.8;
}

/* line 51, ../sass/site.sass */
.spk td {
  vertical-align: top;
}

/* line 54, ../sass/site.sass */
.spk-img {
  padding-right: 15px;
}
